:root {
    --clr-primary: #459ced;
    --clr-secondary: #167bda;
    --clr-grey: #3a3b40;
    --clr-grey2: #5b5c61;
}

* {
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
}

.project-container {
    display: flex;
    gap: 1rem;
    border-radius: 10px;
    background-image: linear-gradient(to top left, var(rgb(194, 229, 236)) 0%, var(--clr-primary) 100%);
    flex-wrap: wrap;
    justify-content: center;
    align-items: center;
    width: 80vw;
}

.hero-container {
    background-color: var(--clr-primary);
    border-radius: 10px;
}

.projects img {
    width: 300px;
    border-radius: 10px;
    margin: 5px;
}

.get-qoute,
.btn-portfolio {
    background-color: white;
    color: var(--clr-primary);
    outline-color: var(--clr-primary);
}

.get-qoute:hover,
.btn-portfolio:hover {
    background-color: var(--clr-primary);
}